# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
.venv/
env/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# RetinaCare Project Specific
# We ignore the data folder as it contains thousands of high-res images
data/
# We ignore binary model weights and exported formats
model/*.pth
model/*.pt
model/*.onnx
# Ignore temporary training splits
data/*.csv

# Assets
# If you have local samples, ignore them to keep repo clean
assets/samples/

# OS
.DS_Store
Thumbs.db

# Distribution / Build
dist/
build/
*.egg-info/
