# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
.venv/
env/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# RetinaCare Project Specific
# Ignore the thousands of images
data/train_images/

# ALLOW these specific files for the Cloud App to work 100%
!data/_val_split.csv
!model/*.pth
!model/*.pt

# OS
.DS_Store
Thumbs.db
